*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: white;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;    
}
#main{
    width: 100%;
    background-color: black;
}
   /* nav CSS start  */
nav{
    width: 100%;
    height: 10vh;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 4.5vw ;
    
    background-color: black;
} 
#nav-h1{
    position: relative;
    font-size: 2.5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1)0.5s;
    -o-transition: cubic-bezier(0.19, 1, 0.22, 1)0.5s;
    transition: cubic-bezier(0.19, 1, 0.22, 1)0.5s;

    /* background-color: tan;  */
}
#nav-h1:hover{
    -webkit-transform: scale(1.1) ;
        -ms-transform: scale(1.1) ;
            transform: scale(1.1) ;
}
#nav-right{
    height: 100%;
    width: 60%;
    text-align: end;
    gap: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;   

    /* background-color: teal;  */
}
#nav-right a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.4vw;
    font-weight: 400;
    opacity: 0.7;
    -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1).3s;
    -o-transition: cubic-bezier(0.19, 1, 0.22, 1).3s;
    transition: cubic-bezier(0.19, 1, 0.22, 1).3s;
}    
#nav-right a:hover{
    opacity: 1;
    text-decoration: underline;    
    -webkit-transform: scale(1.1);    
        -ms-transform: scale(1.1);    
            transform: scale(1.1);
}  
#MobileIcons {
    display: none;
}
#MobileIcons i{
    font-size: 3vw;
}
   /* nav CSS end  */

      /* heroSection CSS start  */
#heroSection{
    position: relative;
    width: 100%;
    height: 90vh;
    padding: 13vh 4.5vw; 

    /* background-color: rgb(110, 84, 13); */
}
#FR{
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 0 11vh 3vw;
   
    /* background-color: orange; */
}
#FR>h1{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-text-stroke: 1px white;
    font-family: 'Segoe UI';
    color: black;
    font-size: 8.5vw;
    font-weight: 700;
    line-height: 9vw;
    -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1).3s;
    -o-transition: cubic-bezier(0.19, 1, 0.22, 1).3s;
    transition: cubic-bezier(0.19, 1, 0.22, 1).3s;
    
    /* background-color: red; */
}
#FR>h1:hover{
    color: white;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);    
}
#FR>h1:hover ~ #develp-TranDiv>h1 {
    color: black;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);    
    -webkit-text-stroke: 1.5px white;

}
#develp-TranDiv{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: end;    

    /* background-color: rgb(171, 143, 19); */
}
#develp-TranDiv h1{
    font-family: 'Segoe UI';
    font-size: 9.4vw;
    font-weight: 700;
    line-height: 9vw;
    margin-left: 5vw;
    -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1).3s;
    -o-transition: cubic-bezier(0.19, 1, 0.22, 1).3s;
    transition: cubic-bezier(0.19, 1, 0.22, 1).3s;

    /* background-color: rgb(90, 30, 30); */
}
#develp-TranDiv h3{
    font-size: 2.1vw;
    font-family: 'Segoe UI';
    font-weight: 400;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
#heroFooter{
    position: absolute;
    padding: 0 4.5vw; 
    left: 0;
    bottom: 10%;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    /* background-color: rgb(70, 45, 13); */
}

/* #heroFooterDiv1{
    background-color:rgb(28, 71, 140);
}
#heroFooterDiv2{
    background-color:orange;
} */

#HFD2-1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1vw;
}
#HFD2-1 > h3{
    font-size: 2.1vw;
    font-family: 'Segoe UI';
    font-weight: 400;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;

    /* background-color:rgb(65, 169, 105); */
}

#heroFooterDiv2 > h6{
    font-size: 1.3vw;
    font-family: 'Segoe UI';
    font-weight: 200;
    margin: -3px 0 0 4px ;

    /* background-color: rgb(232, 150, 10); */
}
   /* heroSection CSS end  */


/* page2 css Start */
#page2{
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 10vh 4.5vw 9vh;    
    
    /* background-color: rgb(25, 21, 13); */
}
#projectHeading{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    gap: 1.5vw;    
    display: -webkit-box;    
    display: -ms-flexbox;    
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
    margin: 0 0 8vh 0;

    /* background-color: rgb(0, 47, 128);    */
}
.clickImg{
    /* font-size: 2vw; */
    text-transform: capitalize;
    font-size: 1.4vw;
    font-weight: 400;
    line-height: 1.5;
}
/* #ProjectSvg{
    background-size: 80%;
    height: 60px;
    width: 60px;
} */
#projectHeading h1{
    font-size: 2.2vw;
    font-family: 'Segoe UI';
    font-weight: 400;
    text-transform: uppercase;
    -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1)0.3s;
    -o-transition: cubic-bezier(0.19, 1, 0.22, 1)0.3s;
    transition: cubic-bezier(0.19, 1, 0.22, 1)0.3s;
}
#projectHeading h1:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);    
}
.projects{
    position: relative;
    height: 25vh;
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;     
    border-top: 1.1px solid rgba(255, 255, 255, 0.507);
    -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1)0.3s;
    -o-transition: cubic-bezier(0.19, 1, 0.22, 1)0.3s;
    transition: cubic-bezier(0.19, 1, 0.22, 1)0.3s;
       
    /* background-color: #56ae59; */
}
#poject1BorderBottem{
    border-bottom: 1.1px solid rgba(255, 255, 255, 0.507);    
}
.projects h1{
    font-size: 4.5vw;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1;    
    -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1)0.3s;    
    -o-transition: cubic-bezier(0.19, 1, 0.22, 1)0.3s;    
    transition: cubic-bezier(0.19, 1, 0.22, 1)0.3s;
    /* background-color: #b47f7f; */
}
.projects h1:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);    
}
#ProjectIMg{
    height: 75%;
    width: 15%;
    /* background-color: red; */
    margin-right: 2vw;
    z-index: 1;
}
#ProjectIMg a{
    height: 100%;
    width: 100%;
    /* background-color: rgb(173, 181, 60); */
}
.projects a img{
    width: 100%;
    height: 100%;    
    border-radius: 0.4vw;
    opacity: 0.5;
    -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1)0.5s;
    -o-transition: cubic-bezier(0.19, 1, 0.22, 1)0.5s;
    transition: cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
.projects a img:hover{
    opacity: 1;
    border-radius: 0.4vw;
    -webkit-transform: scale(1.6);
        -ms-transform: scale(1.6);
            transform: scale(1.6);
}

/* page2 css end */

/* page3 css start*/
#page3{
    width: 100%;
    min-height: 100vh;
    padding: 10vh 4.5vw 5vh;        

    /* background-color: #12284d; */
}

/* #Skills{
    background-color: red;
} */
#Skills>h1{
    margin: 7vh 0 0 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 4.5vw;
    font-weight: 400;
    line-height: 1.1;    
    -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1)0.3s;    
    -o-transition: cubic-bezier(0.19, 1, 0.22, 1)0.3s;    
    transition: cubic-bezier(0.19, 1, 0.22, 1)0.3s;
    /* background-color: #69a977; */
}
#Skills>h1:hover{
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);  
}
/* page3 css end */

/* page4 css start*/

#page4{
    width: 100%;
    min-height: 100vh;
    padding: 10vh 4.5vw 5vh;    
    
    /* background-color: #69d1b0; */
}

/* 
#page4>.projects>a>img{
    width: auto;
    width: 25%;
    height: 25%;    
    border-radius: 7px;
    opacity: 0.5;
    transition: cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
#page4>.projects>a>img:hover{
    z-index: 5;
    opacity: 1;
    height: 150%;   
    border-radius: 14px;
    z-index: 9;
} */

/* page4 css end */

/* page5 css start*/
#page5{
    width: 100%;
    min-height: 100vh;
    padding: 10vh 4.5vw 5vh;      
    /* background-color: rgb(46, 161, 57);    */
}
#aboutMeImgAndPara{
    width:50%;
    /* gap: 7vh; */
    gap: 3vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    padding: 0 3vw 0 0;
    /* background-color: teal; */
}
#aboutMeImgAndPara img{
    /* margin: 0 0 0 5vh; */
    height: 16vw;
    border-radius: 50%; 
}
#aboutMeText{
    width: 100%; 
    /* background-color: green; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* align-items: start; */
    /* justify-content: start; */
}
#aboutMeText span{
    opacity: .5;
    font-size: 1.5vw;
    /* text-transform: uppercase; */
    margin: 0 0 .5vw 0;
    /* background-color: tan; */
}
#aboutMeText p{
    font-size: 1.4vw;
    font-weight: 400;
    line-height: 1.5;
    padding: 0 0 1.3vw 0vh;
    text-align: justify;

    /* background-color: tan; */
}
#aboutMeText{
    font-size: 1.4vw;
    font-weight: 600;
    padding: 0 0 1vw 0;
}
#aboutMeBtnsDiv{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3vw;

    /* background-color: red;    */
}
#aboutMeBtnsDiv a{
    text-decoration: none;
}
.button{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 1.4vw;
    font-weight: 600;
    padding: .3vw 3.5vh;
    border-radius: 2vw;
    border: 1.5px solid white;
    background-color: black;
    -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1)0.5s;
    -o-transition: cubic-bezier(0.19, 1, 0.22, 1)0.5s;
    transition: cubic-bezier(0.19, 1, 0.22, 1)0.5s;
    /* margin-right: 2.5vw; */
}
.button:hover{
    background-color: #fff;
    color: black;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);   
}
.page5Aboutme-Concact{
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    /* margin: 5vh 0; */
    /* background-color: orange; */
}
#contactDiv{
    position: relative;
    width: 50%;
    height: 100%;
    gap: 1.5vw;
    padding: 0 0 7.5vh 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    /* justify-content: start; */
    /* background-color: tan; */
}
.contactDets{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2vw;
}
#icon{
    height: 4vw;
    width: 4vw;
    background-color: white;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#icon:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
#icon i{
    color: black;
    font-size: 2.5vw;
}
.contactDets a{
    text-decoration: none;
    font-size: 1.4vw;
    font-weight: 400;
    /* opacity: 0.7; */
    -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1).3s;
    -o-transition: cubic-bezier(0.19, 1, 0.22, 1).3s;
    transition: cubic-bezier(0.19, 1, 0.22, 1).3s;
}
.contactDets a:hover{
    opacity: 1;
    /* text-decoration: underline;     */
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
#Page5-Heading h1{
    font-size: 2.1vw;
    font-family: 'Segoe UI';
    font-weight: 400;
    text-transform: uppercase;
    /* background-color: #ac0a0a; */
    -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1)0.3s;
    -o-transition: cubic-bezier(0.19, 1, 0.22, 1)0.3s;
    transition: cubic-bezier(0.19, 1, 0.22, 1)0.3s;
}
#Page5-Heading h1:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);    
}